@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

body {
  background: #000000;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

#board {
  border: 10px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#clue {
  align-items: center;
  background: #000099;
  border: 10px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 50px;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  width: 100vw;
}

#dailyDouble {
  align-items: center;
  background: #000099;
  border: 10px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: 800;
  height: 100vh;
  justify-content: center;
  text-align: center;
  text-shadow: 10px 10px #000000;
  width: 100vw;
}

.answer {
  align-items: center;
  border: 5px solid black;
  color: #ffcc22;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: sans-serif;
  font-size: 50px;
  justify-content: center;
  text-shadow: 5px 5px #000000;
}

.answered {
  align-items: center;
  border: 5px solid black;
  color: #ffcc22;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: sans-serif;
  font-size: 0px;
  justify-content: center;
  text-shadow: 5px 5px #000000;
}

.category {
  align-items: center;
  border: 10px solid black;
  color: #ffffff;
  display: flex;
  flex: 1;
  font-family: sans-serif;
  font-size: 25px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dollar:before {
  content: '$';
  font-size: 80%;
}

.grow {
  animation: grow 500ms;
}

.hidden {
  display: none !important;
}

.rotate {
  animation: rotate 2s;
}

.tile {
  background: #000099;
  display: flex;
  flex: 1;
}

.tile:hover {
  background: #0000dd;
}
