@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotateAndGrow {
  from {
    transform: scale(0.1) rotateX(0deg);
  }
  to {
    transform: scale(1) rotateX(360deg);
  }
}

body {
  background: #000000;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  display: none;
}

input[type="button"] {
  display: none;
}

#board {
  border: 10px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#clue {
  align-items: center;
  background: #000099;
  border: 10px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 10vmin;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  width: 100vw;
}

#createForm {
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
}

#dailyDouble {
  align-items: center;
  background: #000099;
  border: 10px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: 800;
  height: 100vh;
  justify-content: center;
  text-align: center;
  text-shadow: 10px 10px #000000;
  width: 100vw;
}

#question {
  align-items: center;
  background: #000099;
  border: 10px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 50px;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  width: 100vw;
}

#splash {
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

.answer {
  align-items: center;
  color: #ffcc22;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 5vw;
  justify-content: center;
  text-shadow: 0.75vmin 0.75vmin #000000;
}

.answered {
  align-items: center;
  color: #ffcc22;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 0px;
  justify-content: center;
  text-shadow: 5px 5px #000000;
}

.category {
  align-items: center;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3.5vmin;
  justify-content: center;
  overflow: hidden;
}

.clueLabel {
  padding-top: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dollar:before {
  content: '$';
  font-size: 80%;
}

.formQuestions {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
}

.formSection {
  border: 1px solid #000099;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.gameNameSection {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 12px;
}

.grow {
  animation: grow 500ms;
}

.header {
  font-family: monospace;
  font-size: 8vmin;
  padding: 16px;
  text-align: center;
}

.subheader {
  font-family: monospace;
  font-size: 2.5vmin;
  padding: 16px;
  text-align: center;
}

.hidden {
  display: none !important;
}

.rotate {
  animation: rotateAndGrow 2s;
}

.createGame {
  border: 4px solid #000099;
  color: #000099;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 20px;
  margin-top: 6px;
  padding: 12px 12px;
  text-align: center;
}

.createForm {
  display: flex;
  flex-direction: column;
}

.download {
  background: #000099;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  padding: 12px 12px;
  text-align: center;
}

.tile {
  background: #000099;
  border: 5px solid black;
  display: flex;
  flex: 1;
  text-align: center;
}

.answer:hover, .answered:hover {
  background: #0000ee;
}

.uploadFile {
  background: #000099;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 20px;
  padding: 12px 12px;
  text-align: center;
}
